%h2.text-center= "Welcome #{current_contestant.first_name} (#{current_contestant.email})"
%h4.text-center On you personalized home page, you will be able to view your favourite photos and track who you've voted for!