.container#judge-page
  %section
    %h3.title Welcome #{ current_judge.first_name }
    = render "judging_process"

  - if current_judge.is_judging? current_contest
    %section
      = render "judges_panel"

    %section
      = render "./judge_score/judge_score_panel"
