#share-wrapper.container
  = render './photo_steps_tabbed', step: :share

  .row
    .col-xs-12
      .two-tone-title.text-center
        %span
          %i.fa.fa-check
          Submission
        %span Complete

  .row.share-actions
    .col-xs-12.col-md-offset-3.col-md-9
      %ul.list.list-unstyled
        %li
          %i.fa.fa-eye.fa-2x
          %span
            %strong View - 
          %span Click the thumbnails on MY PAGE to see your entries
        %li
          %i.fa.fa-comment.fa-2x
          %span 
            %strong Discuss - 
          %span Post comments to chat with other photographers
        %li
          %i.fa.fa-thumbs-up.fa-2x
          %span
            %strong Share - 
          %span Get your friends to vote so you can win 
          = link_to 'prizes', prizes_path

  .row.text-center
    .col-xs-12
      %h2 Good Luck!

  .row.text-center
    .col-xs-12
      = link_to contestant_index_path, class: 'btn btn-flat' do
        %i.fa.fa-undo.fa-2x
        %span Return to My Page