<p>Hello <%= @first_name %>!</p>

<p>Photo submissions have now been closed, and now judging begins!</p>

<p>Please find your log in info below. Use the SHORTLIST PANEL to record your selections. Click on the heading for each category to browse the photos, or navigate the site through the GALLERY tab in the top navigation bar. Click on a thumbnail to view the full image, if you wish to add it to your shortlist scroll down to the bottom of the page and use the buttons under the category headings in the SHORTLIST PANEL. You can see your selections on any photo page and on the judges page (the JUDGING link in the top navigation bar). When you are satisfied with your selections please email scbtoronto@gmail.com to let us know.</p>

<p>You may sign in at the <%= link_to 'Judge sign in', new_judge_session_url %> page. Note that this is separate from the Contestant's log in page. A link for judges is also located at the bottom of every page on www.scbtorontophotos.com</p>

<p>Your password is: <%= @password %></p>

<p>You may change your password at any time by clicking the 'Forgot your password?' link on the judge sign in page.</p>

<p>A sincere thank-you for donating your time to judge our contest. We hope you enjoy viewing the photos!</p>

<p>The SCB-Toronto Exec</p>