= link_to photo_path(photo), style: 'text-decoration: none;' do
  -# photo or icon
  - if photo.thumbnail_url?
    .img-responsive
      = image_tag photo.thumbnail_url
  - else
    %i.fa.fa-picture-o.fa-4x

  -# title
  - if photo.title?
    %p= photo.title