#photo-details-wrapper.container
  - if params[:referrer] == 'new'
    = render 'photo_entry/photo_steps_tabbed', step: :details

  .two-tone-title.text-center
    %span Photo
    %span Edit Details

  = render partial: "layouts/resource_errors", locals: { resource: @photo }

  = render partial: 'photo_form',
    locals: { form_opts: { url: photo_path(@photo.id, referrer: params[:referrer]),
                           method: :patch,
                           html: { id: 'edit-photo-form', class: 'form-horizontal' }}}
