#photo-details-wrapper.container
  - if params[:referrer] == 'new'
    = render 'photo_entry/photo_steps_tabbed', step: :details

  .two-tone-title.text-center
    %span Photo
    %span Edit Details

  #submit-errors
    - if @photo.errors.any?
      %ul.errors-list
        - @photo.errors.full_messages.each do |msg|
          %li= msg

  = render partial: 'photo_form', 
    locals: { form_opts: { url: photo_path(@photo.id, referrer: params[:referrer]), 
                           method: :patch, 
                           html: { id: 'edit-photo-form', class: 'form-horizontal' }}}