%h1.text-center Photo#index.html

%h2.text-center= "Viewing #{@category}"

#photo-wall.row
  %ul.text-center.list-inline
    - @photos.each do |photo|
      .col-xs-4
        %li= render 'photo_thumb', photo: photo