#photos.container
  = render 'photo_filters'

  .two-tone-title.text-center
    %span Photos
    %span= @gallery.title

  #photo-wall.row
    .col-xs-12
      %ul.text-center.list-inline
        - @gallery.photos.each do |photo|
          %li.photo= render 'photo_thumb', photo: photo

    = render "photos_pagination"