.row.text-center
  %h2.photo-title= (@photo.title? and @photo.title) || "Photo Entry ##{params[:id]}"

.row
  .col-xs-12.text-center
    =# link to full image
    %a
      = image_tag 'http://placekitten.com/g/800/600', alt: "Kitten"

-# photo details
.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Contestant

  .col-xs-9.col-md-6
    =# @photo.user.display_name
    placekitten.com

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Votes

  .col-xs-9.col-md-6
    =# @photo.votes
    1,102,547

.row
  .col-xs-3.col-md-offset-4.col-md-2
    %strong Favourites

  .col-xs-9.col-md-6
    =# @photo.favourites
    2,145,857

-# user actions
.row
  .col-xs-12.col-md-offset-4.col-md-2
    %a#vote-btn.btn.btn-block.btn-success
      %i.fa.fa-plus
        Vote

  .col-xs-12.col-md-2
    %a#fave-btn.btn.btn-block.btn-danger
      %i.fa.fa-heart-o
        Favourite

-# social media

-# comments