.col-xs-12
  %ul#quick-btns.list-inline.text-center
    - if current_contest.open?
      %li
        %a.btn.btn-lg.btn-inverse{ href: new_photo_path }
          %i.fa.fa-camera.fa-2x
          Submit a Photo
      %li
        %a.btn.btn-lg.btn-inverse{ href: photos_path }
          %i.fa.fa-picture-o.fa-2x
          View Photos
    -# - elsif Winner.assignments_complete?
    -#   %li
    -#     %a.btn.btn-lg.btn-inverse{ href: winners_path }
    -#       %i.fa.fa-trophy.fa-2x
    -#       View Winners

.row.text-center.date
  .col-xs-12
    - if current_contest.open?
      %p Contest closes #{ long_date current_contest.close_date }
    - elsif current_contest.judging?
      %p We are currently allocating prizes and contacting winners. Contest winners will be updated shortly!
    - else
      %span Contest is now closed. Check out our winners
      %span= link_to 'here!', winners_path
