.row.text-center.date
  .col-xs-12
    %span#no-contest-message There is no contest currently running. Check out our previous contests
    - if Contest.previous.any?
      %ul.list-unstyled#past-contests
        - Contest.previous.each do |contest|
          %li= link_to(contest.close_date.year, contest_path)
