.row.text-center.date
  .col-xs-12
    %span There is no contest currently running. Check out our previous contests
    %ul.list-unstyled
      - Contest.previous.each do |contest|
        %li
          %a{ href: contest_path }= contest.close_date.year
