#home-welcome
  %h1.main-title.cursive-font.text-center
    Nature and Wildlife
    %br
    Photography Contest

  %section.container
    .row
      .col-xs-12
        %ul#quick-btns.list-inline.text-center
          - if ContestRules.contest_open?
            %li
              %a.btn.btn-lg.btn-inverse{ href: new_photo_path }
                %i.fa.fa-camera.fa-2x
                Submit a Photo
            %li
              %a.btn.btn-lg.btn-inverse{ href: photos_path }
                %i.fa.fa-picture-o.fa-2x
                View Photos
          - elsif Winner.assignments_complete?
            %li
              %a.btn.btn-lg.btn-inverse{ href: winners_path }
                %i.fa.fa-trophy.fa-2x
                View Winners

    .row.text-center.date
      .col-xs-12
        -# TODO not all contest states covered
        - if ContestRules.contest_open?
          %p Contest closes #{ long_date ContestRules::CONTEST_CLOSES }
        - elsif Winner.assignments_complete?
          %span Contest is now closed. Check out our winners
          %span= link_to 'here!', winners_path
        - else
          %p We are currently allocating prizes and contacting winners. Contest winners will be updated shortly!

    .row.text-center
      .col-xs-12
        #sponsors-link
          %span OUR SPONSORS
          %br
          %i.fa.fa-chevron-circle-down.fa-2x

.container
  .row.light-grey-separator
    .col-xs-12
