#home-welcome
  %h1.main-title.cursive-font.text-center
    Nature and Wildlife
    %br
    Photography Contest

  %section#quick-btns
    .row.text-center
      .col-xs-12.col-sm-offset-3.col-sm-4.col-md-offset-3.col-md-3
        %a.btn.btn-lg.btn-default.btn-inverse{href: workflow_photo_entry_path }
          %i.fa.fa-camera.fa-2x
          Submit a Photo
      .col-xs-12.col-sm-4.col-md-3
        %a.btn.btn-lg.btn-default.btn-inverse{href: photos_path }
          %i.fa.fa-picture-o.fa-2x
          View Photos