%h1.text-center SCB-TO Wildlife and Nature Photography Contest

-# quick links
%section#quick-btns
  .row.text-center
    .col-xs-12.col-md-offset-4.col-md-2
      %a.btn.btn-lg.btn-block.btn-default.hover-btn{href: new_photo_path } Submit a Photo
    .col-xs-12.col-md-2
      %a.btn.btn-lg.btn-block.btn-default.hover-btn{href: photos_path } View Photos