#home-welcome
  %h1.main-title.cursive-font.text-center
    Nature and Wildlife
    %br
    Photography Contest

  %section.container
    .row
      - if current_contest?
        = render "current_contest_splash_actions"
      - else
        = render "no_contest_splash_actions"

    .row.text-center
      .col-xs-12
        #sponsors-link
          %span OUR SPONSORS
          %br
          %i.fa.fa-chevron-circle-down.fa-2x

.container
  .row.light-grey-separator
    .col-xs-12
