#home-welcome
  %h1.main-title.cursive-font.text-center
    Nature and Wildlife
    %br
    Photography Contest

  %section
    .row
      .col-xs-12
        %ul#quick-btns.list-inline.text-center
          %li
            %a.btn.btn-lg.btn-inverse{href: new_photo_path }
              %i.fa.fa-camera.fa-2x
              Submit a Photo
          %li
            %a.btn.btn-lg.btn-inverse{href: photos_path }
              %i.fa.fa-picture-o.fa-2x
              View Photos

  .row.text-center
    .col-xs-12
      #sponsors-link
        %span OUR SPONSORS
        %br
        %i.fa.fa-chevron-circle-down.fa-2x

.row.light-grey-separator
  .col-xs-12