.container#judge-criteria
  %h3.title Photo Criteria:

  %h4 Technical Excellence (worth 10 points)
  %ul
    %li Is the photo in focus?
    %li Is lighting in balance?
    %li Is depth of field considered/used?
    %li Shutter speed varied or adjusted to be appropriate for the photo?

  %h4 Subject matter (worth 10 points)
  %ul
    %li Is the subject matter unique or is a common item shown from an interesting point%li of%li view?
    %li Has the photographer used light in interesting ways?
    %li Does the photo demonstrate originality?

  %h4 Composition (worth 10 points)
  %ul
    %li Where is our eye lead to in the photograph %li  are the items of interest placed well in the photo?
    %li Is the photograph balanced, if not, is it creating the visual impact it should?
    %li Are there distracting elements?

  %h4 Overall Impact (worth 20 points)
  %ul
    %li How all the elements come together.
    %li Is the photo able to grab the viewer’s attention and hold it?
    %li What is the ‘wow’ factor? Are there any special effects, or extras?