/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require s3_direct_upload_progress_bars
 *= require select2
 *= require select2-bootstrap
 *= require_self
 *= require_tree .
 */

$font-size-base: 16px;
$grid-float-breakpoint: 1025px;

@import "bootstrap";

/* FONTS */

@import url(http://fonts.googleapis.com/css?family=La+Belle+Aurore);

/* Serve our own fonts for better rendering in Chrome */
@font-face {
  font-family: 'Montserrat';
  src:font-url('/assets/montserrat-regular-webfont.eot');
  src:font-url('/assets/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('/assets/montserrat-regular-webfont.svg#montserrat') format('svg'),
    font-url('/assets/montserrat-regular-webfont.woff') format('woff'),
    font-url('/assets/montserrat-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src:font-url('/assets/montserrat-bold-webfont.eot');
  src:font-url('/assets/montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('/assets/montserrat-bold-webfont.svg#montserrat') format('svg'),
    font-url('/assets/montserrat-bold-webfont.woff') format('woff'),
    font-url('/assets/montserrat-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

@font-face {
  font-family: 'Raleway';
  src:font-url('/assets/raleway-regular-webfont.eot');
  src:font-url('/assets/raleway-regular-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('/assets/raleway-regular-webfont.svg#raleway') format('svg'),
    font-url('/assets/raleway-regular-webfont.woff') format('woff'),
    font-url('/assets/raleway-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway';
  src:font-url('/assets/raleway-bold-webfont.eot');
  src:font-url('/assets/raleway-bold-webfont.eot?#iefix') format('embedded-opentype'),
    font-url('/assets/raleway-bold-webfont.svg#raleway') format('svg'),
    font-url('/assets/raleway-bold-webfont.woff') format('woff'),
    font-url('/assets/raleway-bold-webfont.ttf') format('truetype');
  font-weight: 700;
  font-style: bold;
}

.cursive-font {
    font-family: La Belle Aurore, sans-serif;
}

/* /FONTS */

/* FORMS */

form input.form-control {
    color: #000;
}

/* /FORMS */

/* GENERAL */

@mixin nav-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius:    $radius;
    border-radius:         $radius;
}

$darkblue:   #135870;
$brightblue: #19b2d9;
$darkblue-contrast: #3e88a2;
$orange: #f8694d;
$purple: #7d4a82;

$cursive-fonts: 'La Belle Aurore', sans-serif;

.modal-content {
    @include border-radius(0);
    border: none;
}

html {
    min-height: 100%;
    position: relative;
}

body { 
    /* for fixed header */
    padding-top: 70px;

    /* sticky footer */
    margin-bottom: 90px;

    background-color: transparent;
}

body > .container {
    margin-bottom: 90px; /* sticky footer too?? */
}

pre {
    background-color: transparent;
    border: none;
}

img {
    margin: auto auto;
}

.main-title { /* still used? */
    font-size: 48px;
}

.two-tone-title {
  @include nav-font;
  font-size: 24px;

  margin: 20px 0;
  
  span:first-child {
    font-weight: 700;
  }

  span:last-child {
    margin-left: 5px;
    font-weight: 400;
    color: #555;
  }
}

/* /GENERAL */


#alerts {
    .alert {
        margin-bottom: 0px;
        @include border-radius(0);
        border: none;
    }
}


.photo-title {
  margin-top: 0;
}

/* BUTTONS */

a.btn.btn-inverse, button.btn.btn-inverse, input.btn.btn-inverse {
    @include nav-font;
    @include border-radius(0);

    border: 3px solid #fff;
    background: transparent;
    color: #fff;

    i {
        vertical-align: middle;
    }
}

a.btn.btn-inverse:hover, a.btn.btn-inverse:focus,
button.btn.btn-inverse:hover, button.btn.btn-inverse:focus,
input.btn.btn-inverse:hover, input.btn.btn-inverse:focus {
    border-color: #fff;
    color: #135870;
    background-color: #fff;
}

a.btn.btn-flat, button.btn.btn-flat, input.btn.btn-flat, span.btn.btn-flat {
    @include nav-font;
    @include border-radius(0);

    border: 3px solid #135870;
    background: transparent;
    
    color: #135870;
    margin: 10px 0;

    i {
        vertical-align: middle;
    }
}

a.btn.btn-flat:hover, a.btn.btn-flat:focus,
button.btn.btn-flat:hover, button.btn.btn-flat:focus,
input.btn.btn-flat:hover, input.btn.btn-flat:focus,
span.btn.btn-flat:hover, span.btn.btn-flat:focus {
    border-color: #135870;
    color: #fff;
    background-color: #135870;
}

.btn-flow.btn-group {
    @include nav-font;

    button:first-child {
        border: none;
        background-color: #135870;
        color: #fff;
        cursor: default;
        width: 69px;
    }

    button:first-child:hover {
        z-index: auto;
    }

    button:last-child {
        text-transform: uppercase;
        border: none;
        background-color: #efefef;
        color: #555;
        height: 54px;
        cursor: default;
        font-size: 1.2em;
        width: 230px;
    }

    button:last-child:focus {
        box-shadow: none;
    }
}

/* /BUTTONS */

#gratitude {
    height: 175px;
    width:  175px;
    padding-top: 50px;
    margin-bottom: -90px;
    text-align: center;

    background: rgba(19, 88, 112, 0.8) image-url('pattern-1.png');

    @include nav-font;

    font-size: 1.5em;
    color: #fff;

    display: block;
    position: relative;
    left: calc(50% - 87.5px);
    top:  -130px;
    z-index: 2;

    @include border-radius(130px);
}


#sponsors-wrapper {
    background-color: rgba(255,255,255,0.65);

    @include border-radius(0);

    padding: 10px 10px;

    .sponsor {
        height: 115px;
        line-height: 115px;

        a {
            img {
                max-width: 80%;
                max-height: 115px;
            }
        }
    }
}


#tags-container {
    line-height: 35px;

    li.tag {
        margin: 2px 2px;
    }

    li.tag a {
        background-color: $orange;
        color: #fff;

        font-family: Montserrat, sans;
        font-weight: 700;

        text-decoration: none;
        padding: 8px 8px;
    }

    li.tag:first-child {
        margin-left: 0;
    }

    li.tag a:hover {
        color: #fff;
        background-color: $brightblue;
    }
}

/* Photo steps */

#photo-steps {
    margin: 20px 0;

    .hidden-xs {
        display: inline-block !important;
    }

    button {
        border: none;
        @include nav-font;
        color: #777;

        cursor: default;
        line-height: 20px;
        background-color: #efefef;
        padding: 10px 20px;
    }

    button:not(:last-child) {
        border-right: 3px solid #ddd;
    }

    button:focus, button:hover, button:active {
        box-shadow: none;
        z-index: auto;
    }

    button.active {
        border: none;
        box-shadow: none;
        background-color: #135870;
        color: #fff;
        z-index: 1000;
    }

    button.active:not(:last-child):before {
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        width: 0;
        height: 0;
        border-top: 20px solid transparent;
        border-left: 12px solid #135870;
        border-bottom: 20px solid transparent;
        z-index: 1000;
    }
}

#photo-steps-tabbed {
    .hidden-xs {
        display: inline-block !important;
    }

    .btn-group {
        a {
            @include border-radius(0);
            @include nav-font;
            
            border-left: none;
            border-top: none;
            box-shadow: none;

            cursor: default;

            color: #777;
            background-color: #e3e3e3;
            border-color: #777 !important;

            i {
                vertical-align: middle;
            }
        }

        a.active {
            border-bottom: none;
            background-color: #fff;

            color: $brightblue;
        }

        a:focus, a:hover, a:active {
            box-shadow: none;
            text-decoration: none;
            border-color: inherit;
        }

        a:last-child {
            border-right: none;
        }
    }
}

@media (max-width: 767px) {
    #photo-steps .hidden-xs, #photo-steps-tabbed .hidden-xs {
        display: none !important;
    }
}

/* /Photo Steps */

/* Form Error Messages */

#submit-errors {
    ul.errors-list {
        color: red;
    }
}

/* /Form Error Messages */

nav#navbar {

    margin-bottom: 0;

    i.fa {
        font-size: 20px;
        line-height: 20px;
    }
    
    a {
        @include nav-font;
        letter-spacing: 0.1em;
    }

    .navbar-header {
        max-height: 70px;

        .scb-logo {
            display: inline-block;
            a img {
                max-height: 70px;
            }
        }
    }

    #navbar-links {
        ul.dropdown-menu {
            right: auto;
        }

        ul.nav.navbar-nav {
            margin-top: 19px;
            margin-right: 0;

            li a {
                min-height: 51px;
            }
        }
    }

    ul.dropdown-menu {
        li {
            min-height: 36px;
            line-height: 36px;
        }
    }
}

@media (max-width: 485px) {
    #navbar .scb-logo img {
        margin-top: 10px;
        height: 50px;
    }
}

.navbar-default {
  background-color: #adc7e2;
  border: 0;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #3e88a2;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: #3e88a2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3E88A2;
    color: #FFFFFF;
}

ul.dropdown-menu {
    background-color: #adc7e2;
    
    @include border-radius(0);
    border: none;
}

ul.dropdown-menu > li > a {
    color: #FFFFFF;
}

ul.dropdown-menu > li > a:hover,
ul.dropdown-menu > li > a:focus {
    background-color: #135870;
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: #135870;
}

.navbar-nav .open .dropdown-menu {
    background-color: #adc7e2;
}

.navbar-default .navbar-toggle .collapsed {
    background-color: #adc7e2;
}

.navbar-default .navbar-toggle {
    background-color: #adc7e2;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #3e88a2;
}

#navbar .row:not(#nav-header-row) {
    margin-right: 0;
}

#mail-us, #mail-us:hover {
    i {
        font-size: 1.25em;
    }
}

#other-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}


#sponsors-footer {
    margin-top:    30px;
    margin-bottom: 45px;
}


#footer {
    bottom: 0;
    position: absolute;
    width: 100%;

    margin-top: 50px;

    opacity: 0.9;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #social-media-footer {
        min-height: 40px;
        background-color: $darkblue;

        a {
            color: #fff;
        }

        border-bottom: 1px solid #333;
    }

    #info-footer {
        min-height: 40px;
        line-height: 40px;
        background-color: $darkblue;
        color: #fff;

        a, a:hover {
            color: #fff;
            text-decoration: none;

            margin-right: 5px;
        }

        span {
            margin-left: 5px;
        }
    }
}

/* #info-footer stacks below here */
@media (max-width: 500px) {
    body > .container {
        margin-bottom: 130px;
    }

    margin-bottom: 130px;
}

@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}