/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require bootstrap-datepicker
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700|La+Belle+Aurore|);

.times {
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
}
.droid {
    font-family: Droid Sans, sans-serif;
    font-weight: 700;
}
.cursive-font {
    font-family: La Belle Aurore, sans-serif;
}

html {
    background: url(scarborough_bluffs_bg.jpg) no-repeat center center fixed;
    background-position: 0% 130px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    min-height: 100%;
    position: relative;
}

body { 
    /* for fixed header */
    padding-top: 135px;

    /* sticky footer */
    margin-bottom: 90px;

    background-color: transparent;
    /*background: url("wood-repeat.jpg") repeat scroll 0 0 #959796;*/
}

body > .container {
    margin-bottom: 90px;
}

pre {
    background-color: transparent;
    border: none;
}

@media screen and (max-width: 768px) {
    
    html {
        background-position: 0% 80px;
    }
    
    body {
        padding-top: 85px;
    }
}

.main-title {
    font-size: 48px;
}

a.btn, button.btn, input.btn {
    font-family: Droid Sans, sans-serif;
    font-weight: 700;

    i {
        vertical-align: middle;
    }
}

#sponsors-wrapper {
    background-color: rgba(255,255,255,0.65);

    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}


/* global colours */
$darkblue:   #135870;
$brightblue: #19b2d9;
$darkblue-contrast: #3e88a2;


$droid: Droid Sans, sans-serif;


/* tags */

ul#tags-container {
    line-height: 35px;

    li.tag {
        margin: 2px 2px;
    }

    li.tag a {
        background-color: #CCC;
        color: #333;
        font-family: $droid;
        font-weight: 700;

        text-decoration: none;
        border-radius: 5px 5px 5px 5px;
        padding: 8px 8px;
    }

    li.tag a:hover {
        color: #fff;
        background-color: $brightblue;
    }
}


/* Sassify below */

/*#135870*/



nav#navbar a {
    font-family: Droid Sans, sans-serif;
    font-weight: 700;
}

.navbar-default {
  background-color: #135870;
  border: 0;
  color: #ffffff;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-brand {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #3e88a2;
    color: #FFFFFF;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #FFFFFF;
  background-color: #3e88a2;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #3E88A2;
    color: #FFFFFF;
}

ul.dropdown-menu {
    background-color: #90B0BC;
}

ul.dropdown-menu > li > a {
    color: #FFFFFF;
}

ul.dropdown-menu > li > a:hover,
ul.dropdown-menu > li > a:focus {
    background-color: #135870;
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #FFFFFF;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #FFFFFF;
    background-color: #135870;
}

.navbar-nav .open .dropdown-menu {
    background-color: #90B0BC;
}

.navbar-header {
    padding-top: 5px;
}

.navbar-default .navbar-toggle .collapsed {
    background-color: #135870;
}

.navbar-default .navbar-toggle {
    background-color: #135870;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: #3e88a2;
}

#navbar .row:not(#nav-header-row) {
    margin-right: 0;
}

#nav-header-row {
    background-color: #19b2d9;
    min-height: 80px;
}

.scb-logo {
    a {
        /*display: inline-block;*/

        img {
            height: 70px;
        }
    }

    .logo-text {
        display: inline-block;

        .times {
            font-size: 2em;
            font-weight: 500;
        }

        .droid {
            font-family: $droid;
            font-weight: 700;
            font-size: 1.2em;
        }
    }
}

#mail-us, #mail-us:hover {
    i {
        font-size: 1.25em;
    }
}

#other-nav-wrapper {
    position: absolute;
    top: 0;
    left: 0;
}

.hover-btn, .hover-btn {
    background: #135870;
    color: #FFFFFF;
}

.hover-btn:hover, .hover-btn:focus {
    background: #3e88a2;
    color: #FFFFFF;
}

#carousel-example-generic {
    width:  750px;
    height: auto;
    margin: 0 auto;
}

#quick-btns {
    margin-top: 20px;
}

#sponsors-footer {
    margin-top: 30px;
    margin-bottom: 30px;
}




#footer {
    bottom: 0;
    position: absolute;
    width: 100%;

    margin-top: 50px;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    #social-media-footer {
        min-height: 40px;
        background-color: $darkblue;

        a {
            color: #fff;
        }

        border-bottom: 1px solid #333;
    }

    #info-footer {
        min-height: 40px;
        line-height: 40px;
        background-color: $darkblue;
        color: #fff;

        a, a:hover {
            color: #fff;
            text-decoration: none;

            margin-right: 5px;
        }

        span {
            margin-left: 5px;
        }
    }
}

/* #info-footer stacks below here */
@media (max-width: 500px) {
    body > .container {
        margin-bottom: 130px;
    }

    margin-bottom: 130px;
}

@media (max-width: 767px) {
    #quick-btns a.btn:first-child {
        margin-bottom: 10px;
    }
}
@media (min-width: 768px) {
}
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}

footer .skyline {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ffe6ad 50%, #fc9779 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#ffe6ad), color-stop(100%,#fc9779)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ffe6ad 50%,#fc9779 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ffe6ad 50%,#fc9779 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ffe6ad 50%,#fc9779 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ffe6ad 50%,#fc9779 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fc9779',GradientType=0 ); /* IE6-9 */
}