
#signin-wrapper {
    background-color: #777;
    position: relative;
    
    .island {
        margin-top: 40px;
        background-color: #fff;

        .checkbox-label.text-left {
            text-align: left;
        }
    }
}