.scoring-section {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #f7f7f7;
}

#photo-score-form {
    input {
        margin-bottom: 10px;
    }
}

.form-group.text-center {
    .btn > .btn {
        margin-left: 10px;
    }
}

.green {
    color: green;
}