// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.photo-title {
    margin-top: 0;
}

.comments-container {
    margin-top: 30px;
    margin-bottom: 20px;

    .comment {
        padding: 5px;

        span {
            margin-left: 5px;
            font-size: 1.25em;
        }
    }

    .comment:nth-child(odd) {
        background-color: #E8E9E9;
    }
}

#new-comment-wrapper {
  .new-comment {
    display: none;
  }

  textarea {
    resize: none;
  }
}

.thumbnail-lg > img {
    margin-bottom: 30px;
}

#tags-container {
    
}