#s3-uploader {
    min-height: 40px;
}

#workflow {
    margin-top: 30px;

    li {
        margin: 20px 0;
    }

    li:last-child {
        color: #135870;

        i {
            text-align: center;
        }
    }
}

#workflow:before {
    content: ' ';
    width: 1px;
    height: calc(100% - 80px);
    position: absolute;
    left: 50%;
    top: 30px;
    border-left: 2px dashed #135870;
    z-index: -1;
}

.rule-reminder {
    margin: 30px 0;
}

#print-verify {
    .row.text-left {
        margin: 30px 0;
    }
}

/* fake file upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}