#s3-uploader {
    min-height: 40px;
}

#photo-upload-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;

    background-color: #fff;
    max-width: 992px;

    .rule-reminder {
        padding: 30px 20px;
        background-color: #FDEEB1;
        color: #FF9933;
        font-size: 20px;
        font-weight: bold;
    }

    .select-file {
        padding: 0 10px;
        background-color: #e3e3e3;
        color: #333;
    }

    .photo-title {
        margin: 15px;
        font-size: 24px;
    }

    .form-group div {
        padding-left: 0;
        padding-right: 0;
    }
    
    div.upload {
        border-top: none;
        margin: 8px auto;
    }

    .btn-file {
        margin-left: 10px;
    }
}

#workflow {
    margin-top: 30px;

    li {
        margin: 20px 0;
    }

    li:last-child {
        color: #135870;

        i {
            text-align: center;
        }
    }
}

#workflow:before {
    content: ' ';
    width: 1px;
    height: calc(100% - 80px);
    position: absolute;
    left: 50%;
    top: 30px;
    border-left: 2px dashed #135870;
    z-index: -1;
}

#order-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #fff;

    .instructions {
        padding: 30px 20px;
        background-color: #FDEEB1;
        color: #FF9933;
        font-size: 18px;

        ul {
            margin-bottom: 0;
        }

        li {
            span:first-child {
                font-weight: bold;
            }
        }
    }

    img {
        max-height: 200px;
        max-width: 100%;
        margin: 15px 0;
    }

    .codes {
        font-size: 18px;
        background-color: #e3e3e3;

        table {
            margin-bottom: 0;

            thead tr td,
            tbody tr:first-child td {
                border-bottom: 2px solid #999;
            }
        }
    }
}

#verify-photo-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;

    background-color: #fff;

    .error {
        padding: 5px;
        background-color: #F9BDA7;
    }

    .error-message {
        color: red;
    }
}

#share-wrapper {
    margin-top: 30px;
    margin-bottom: 20px;

    background-color: #fff;

    .share-actions {
        padding: 20px;
        background-color: #B0E1B7;
        color: #009245;
        font-size: 18px;
        line-height: 36px;
    }
}

/* fake file upload button */
.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 999px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}