#s3-uploader {
    min-height: 40px;
}

#workflow {
    margin-top: 30px;

    li {
        margin: 20px 0;
    }

    li:last-child {
        color: #135870;

        i {
            text-align: center;
        }
    }
}

#workflow:before {
    content: ' ';
    width: 1px;
    height: calc(100% - 80px);
    position: absolute;
    left: 50%;
    top: 30px;
    border-left: 2px dashed #135870;
    z-index: -1;
}

.rule-reminder {
    margin: 30px 0;
}

#print-verify {
    .row.text-left {
        margin: 30px 0;
    }
}