// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-wrapper {
  margin-top: 30px;

  .photo-field {
    text-transform: uppercase;
    font-weight: bold;
  }

  #photo-stats {
    button {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: none;
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      color: #777;
      cursor: default;
      background-color: #efefef;
      padding: 10px 20px;
    }

    button:focus, button:hover, button:active {
        box-shadow: none;
        z-index: auto;
    }
  }
}

.comments-container {
  margin-top: 30px;
  margin-bottom: 20px;

  .comment {
    padding: 5px;

    span {
      margin-left: 5px;
      font-size: 1.25em;
    }
  }

  .comment:nth-child(odd) {
    background-color: #E8E9E9;
  }
}

#vote-form {
  margin-top: 15px;
}

#new-comment-wrapper {
  textarea {
    resize: none;
  }

  button.btn {
    margin: 0 0;
  }
}

#comments-container {
  table.table {

    tr.comment {
    
      td.name {
        width: 20%;

        p {
          margin-bottom: 0;
        }
      }

      td.text {
        width: 70%;
      }

      td.report {
        width: 10%;
      }
    }
  }
}

.thumbnail-lg > img {
  margin-bottom: 30px;
  max-width: 100%
}

#tags-container {
  
}

.list-inline > li:first-child {
  padding-left: 5px;
}

#photo-wall {

  .photo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  li.photo {
    margin-top: 5px;
    position: relative;
  
    .thumb-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 5px;
      margin: 0 5px;

      width: calc(100% - 10px);

      background-color: #000;
      color: #fff;
      text-align: center;

      opacity: 0; /* fade to 0.6 */

      p {
        margin: 0 0;
        opacity: 1 !important;
        color: #fff;
      }
    }

    .stats {
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: #000;
      
      opacity: 0; /* fade to 0.6 */

      padding-left:  5px;
      padding-right: 5px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      span {
        opacity: 1 !important;
        color: #fff;
      }
    }
  }
}

#pagination {
  .previous {
    margin-right: 15px;
  }
}

#photo-details-wrapper {
  background-color: #fff;
  max-width: 992px;

  .form-group div {
    padding-left: 0;
    padding-right: 0;
  }

  #month-picker, #year-picker {
    display: inline-block;
  }
}