// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#photo-wrapper {
  margin-top: 30px;

  .photo-title {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  span.photo-copyright {
    display: none;
    position: absolute;
    width: 250px;
    padding: 8px;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    font-size: 16px;
    line-height: 18px;
    z-index: 2000; /* higher than any bootstrap */
  }

  .photo-field {
    text-transform: uppercase;
    font-weight: bold;
  }

  .photo-field, .photo-value {
      font-size: 20px;
    }

  #photo-stats {
    button {
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
      border: none;
      
      text-transform: uppercase;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      
      font-size: 24px;
      color: #777;
      cursor: default;
      background-color: #E3E3E3;
      padding: 10px 20px;

      margin-bottom: 8px;
    }

    button:focus, button:hover, button:active {
        box-shadow: none;
        z-index: auto;
    }
  }

  .grey-box {
    background: #fff;
    padding: 15px;
    color: #555;
  }
}

#comments-container {
  margin-top: 30px;
  margin-bottom: 20px;

  font-size: 20px;
}

#vote-form {
  margin-top: 15px;
}

#new-comment-wrapper {
  textarea {
    resize: none;
  }

  button.btn {
    margin: 0 0;
  }
}

#comments-container {
  table.table {

    tr.comment {
    
      td.name {
        width: 20%;

        p {
          margin-bottom: 0;
        }
      }

      td.text {
        width: 70%;
      }

      td.report {
        width: 10%;
      }
    }
  }
}

.thumbnail-lg > img {
  margin-bottom: 30px;
  max-width: 100%
}

.list-inline > li:first-child {
  padding-left: 5px;
}

#photo-wall {

  .photo {
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  li.photo {
    margin-top: 5px;
    position: relative;

    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  
    .thumb-title {
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 5px 5px;
      margin: 0 5px;

      width: calc(100% - 10px);

      background-color: #000;
      color: #fff;
      text-align: center;

      opacity: 0; /* fade to 0.6 */

      p {
        margin: 0 0;
        opacity: 1 !important;
        color: #fff;
      }
    }

    .stats {
      position: absolute;
      top: 5px;
      right: 10px;
      background-color: #000;
      
      opacity: 0; /* fade to 0.6 */

      padding-left:  5px;
      padding-right: 5px;

      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px;

      span {
        opacity: 1 !important;
        color: #fff;
      }
    }
  }

  li.photo:active {
    -webkit-transform: scale3d(0.9, 0.9, 1);
  }
}

#pagination {
  .previous {
    margin-right: 15px;
  }
}

#photo-details-wrapper {
  margin-top: 30px;
  margin-bottom: 20px;

  background-color: #fff;
  max-width: 992px;

  .picker {
    button {
      background-color: #bbb;
      color: #333;
    }

    button.picker-val {
      width: 135px;
      background-color: #e3e3e3;
      color: #333;
    }

    button.picker-val:active {
      box-shadow: none;
    }

    button:not(.picker-val):active {
      background-color: #19b2d9;
      color: #fff;
    }
  }

  .picker + .picker {
    margin-left: 20px;
  }

  .form-group.error {
    padding: 5px;
    background-color: #F9BDA7;
  }

  .made-in-canada {
    img {
      height: 20px;
    }
  }
}

#photo-filters {
  padding: 20px 0;
  background-color: #D7DEE8;
  color: #777;

  @media screen and (max-width: 905px) {
    a, .select-container {
      margin-bottom: 10px;
    }
  }

  .select-container {
    display: inline-block;
    line-height: 1.2em;

    i {
      font-size: 1.2em;
      margin: 0;
    }
  }

  *:not(:last-child) {
    margin-right: 20px;
  }

  .select2 {
    width: 200px;
  }
}