#home-welcome {
    height: 500px;

    h1.main-title {
        margin-top: 0;
        padding-top: 70px;
        color: #fff;
        font-size: 52px;
    }

    #quick-btns {
        margin-top: 70px;
    }
}

@media (max-width: 767px) {
    #home-welcome {
        min-height: 575px;

        #quick-btns {
            a {
                margin: 10px 10px;
                width: 280px;
            }
        }
    }    
}

@media (min-width: 1200px) {
    #quick-btns a {
        margin: 0 10px;
        min-width: 280px;
    }
}


.judge {
  margin: 20px 20px;
}

.dark-blue {
  color: #135870;
}

.place-logo {
    width: auto;
    height: 125px;
    margin: 20px 20px;
}

#judges-wrapper {
    margin-top: 30px;
}

ul.judges-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

ul.judges-gallery li.judge {
    float: left;
    padding: 10px 10px 10px 10px;
    margin: 5px 0px;
    background-color: #fff;
    cursor: pointer;

    -webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.75);

    position: relative;

    p {
        margin-top: 10px;
        text-align: center;
        font-size: 2em;
    }
}

ul.judges-gallery li.judge:nth-child(even) {
    z-index: 3;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.judges-gallery li.judge:nth-child(odd) {
    z-index: 3;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}

#prizes-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    .category-header {
        font-size: 36px;
        color: #fff;

        span {
            font-family: Droid Sans, sans-serif;
            font-weight: 700;
            margin: 0;
        }

        margin: 15px 0;
    }

    .prize {
        display: block;
        float: left;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px;
        background-color: #fff;
        -webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        position: relative;
        font-size: 1.2em;

        .grand, .canada {
            display: absolute;
            bottom: 0;
            z-index: 10;
            margin-top: -220px;
        }

        .prize-img, .prize-img img {
            z-index: 1;
        }

        p {
            margin-top: 10px;
            text-align: center;
            font-size: 1.5em;
        }
    }

    .prize.tilt-left {
        z-index: 3;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
    }

    .prize.tilt-right {
        z-index: 3;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
    }
}

#rules-wrapper {
    .rule {

        h3 {
            font-family: 'Raleway', sans-serif;
        }
        
        padding-bottom: 30px;

        h2 {
            color: #135870;
            font-weight: 700;
            font-family: 'Droid Sans', sans-serif;    
        }
        
    }   
}