$xs: "only screen and (max-width: 767px)";
$sm: "only screen and (min-width: 768px)";
$md: "only screen and (min-width: 992px)";
$lg: "only screen and (min-width: 1200px)";

#home-welcome {
    height: 800px;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;


    h1.main-title {
        margin-top: 0;
        padding-top: 200px;
        color: #fff;
        font-size: 52px;
    }

    #quick-btns {
        margin-top: 70px;

        li {
            display: inline-block;
            margin: 5px;

            a.btn {
                min-width: 280px;
            }
        }
    }

    @media #{$sm} {
        min-height: 575px;
    }

    #sponsors-link {
        margin-top: 40px;

        font-family: 'Montserrat', sans-serif;
        font-weight: 700;
        font-size: 20px;
        color: white;
        cursor: pointer;
    }

    .date {
        margin-top: 40px;
    }
}

.row.light-grey-separator {
    margin: 0;
    background-color: #e3e3e3;
    min-height: 70px;
}

.judge {
  margin: 20px 20px;
}

.dark-blue {
  color: #135870;
}

.place-logo {
    width: auto;
    height: 125px;
    margin: 20px 20px;
}

#judge-modal {
    .modal-body {
        text-align: justify;
    }
}

#judges-wrapper {
    padding-top: 30px;


}

ul.judges-gallery {
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    margin-bottom: 50px;
    text-align: center;
}

ul.judges-gallery li.judge {
    padding: 10px 10px 10px 10px;
    margin: 5px 0px;
    background-color: #fff;
    cursor: pointer;
    display: inline-block;

    -webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.75);

    position: relative;

    p {
        margin-top: 10px;
        text-align: center;
        font-size: 2em;
    }
}

ul.judges-gallery li.judge:nth-child(even) {
    z-index: 3;
    -webkit-transform: rotate(-3deg);
    -moz-transform: rotate(-3deg);
}

ul.judges-gallery li.judge:nth-child(odd) {
    z-index: 3;
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
}

#prizes-wrapper {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;

    ul {
        padding: 0;
        text-align: center;

        li {
            display: inline-block;    
        }
    }

    .category-header {
        font-size: 36px;
        color: #fff;

        span {
            font-weight: 700;
            margin: 0;
        }

        margin: 15px 0;
    }

    .prize {
        display: inline-block;
        padding: 10px 10px 10px 10px;
        margin: 10px 10px;
        background-color: #fff;
        -webkit-box-shadow: 7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         7px 7px 10px 0px rgba(50, 50, 50, 0.75);
        position: relative;
        font-size: 1.2em;

        .grand, .canada {
            display: absolute;
            bottom: 0;
            z-index: 10;
            margin-top: -220px;
        }

        .prize-img, .prize-img img {
            z-index: 1;
        }

        p {
            margin-top: 10px;
            text-align: center;
            font-size: 1.5em;
        }
    }

    .prize.tilt-left {
        z-index: 3;
        -webkit-transform: rotate(-3deg);
        -moz-transform: rotate(-3deg);
    }

    .prize.tilt-right {
        z-index: 3;
        -webkit-transform: rotate(10deg);
        -moz-transform: rotate(10deg);
    }
}

#prize-modal {
    .prize-title {
        text-transform: uppercase;
        text-align: center;
        font-size: 24px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    img {
        max-width: 300px;
        max-height: 125px;
    }
}

#rules-wrapper {
    text-align: center;
    
    .rule {
        height: 310px;
        width: 400px;
        background-color: #fff;

        vertical-align: top;
        text-align: left;
        position: relative;

        margin-right: 20px;
        margin-bottom: 20px;

        padding: 20px;

        p, h4 {
            font-family: 'Open Sans', sans-serif;

            position: absolute;
            bottom: 0;

            padding: 0 5px;
        }

        img#white-logo svg {
            fill: blue;
        }
    }

    .row:last-child {
        margin-bottom: 30px;
    }
}

#about-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;

    background-color: transparent;

    .row:nth-child(1), .row:nth-child(2) {
        background-color: #fff;
        margin-left: -6px;
        margin-right: -6px;

        text-align: justify;

        padding-left: 20px;
        padding-right: 20px;
    }

    .row:nth-child(2) {
        padding-bottom: 20px;
    }

    .photo-panel {
        cursor: pointer;
        padding: 10px;
        
        .wrapper{
            background-color: #19b2d9;
        }

        .panel-photo {
            width: 100%;
            position: relative;

            z-index: 2;
        }

        .title {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bold;
            text-shadow: 0px 0px 5px rgba(60,60,60,1);

            position: absolute;
            left: 20px;
            top: 30px;

            z-index: 3;
        }

        p {
            color: #fff;
            font-size: 18px;
            font-weight: bold;

            position: absolute;
            width: 80%;
            left: 10%;
            top: 30%;

            z-index: -1;

            @media #{$xs} {
                font-size: 16px;
            }

            @media #{$sm} {
                font-size: 14px;
            }

            @media #{$md} {
                font-size: 18px;
            }
        }
    }

    .photo-panel.clicked {
        .title {
            text-shadow: none;
        }

        .panel-photo {
            z-index: -1;
        }

        p {
            z-index: 2;
        }
    }
}

/* TODO refactor */
#contest-wrapper {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 18px;

    background-color: transparent;

    .photo-panel {
        cursor: pointer;
        padding: 10px;
        
        .wrapper{
            background-color: #19b2d9;
        }

        .panel-photo {
            width: 100%;
            position: relative;

            z-index: 2;
        }

        .title {
            color: #fff;
            font-size: 24px;
            text-transform: uppercase;
            font-weight: bold;
            
            text-shadow: 0px 0px 5px rgba(60,60,60,1);

            position: absolute;
            left: 30px;
            top: 30px;

            z-index: 3;

            @media #{$sm} {
                top: 20px;
            }
        }

        p {
            color: #fff;
            font-size: 18px;
            font-weight: bold;

            position: absolute;
            width: 80%;
            left: 10%;
            top: 30%;

            z-index: -1;

            @media #{$xs} {
                font-size: 22px;
            }

            @media #{$sm} {
                font-size: 16px;
            }

            @media #{$md} {
                font-size: 18px;
            }
        }
    }

    .photo-panel.clicked {
        .title {
            text-shadow: none;
        }

        .panel-photo {
            z-index: -1;
        }

        p {
            z-index: 2;
        }
    }

    .photo-panel.metro-panel.photograph .title,
    .photo-panel.metro-panel.share .title,
    .photo-panel.metro-panel.submit .title {
        text-shadow: none;
    }

    .photo-panel.metro-panel.photograph,
    .photo-panel.metro-panel.share,
    .photo-panel.metro-panel.submit {
        .title {
            @media #{$sm} {
                top: 20px;
                font-size: 20px;
            }
        }

        p {
            @media #{$xs} {
                font-size: 20px;
            }

            @media #{$sm} {
                font-size: 14px;
            }

            @media #{$md} {
                font-size: 16px;
            }

            @media #{$lg} {
                font-size: 18px;
            }
        }
    }

    .white-wrapper {
        background-color: #fff;
        margin-left: -6px;
        margin-right: -6px;

        text-align: justify;

        padding-left: 20px;
        padding-right: 20px;
    }

    .white-wrapper + .white-wrapper {
        padding-bottom: 20px;
    }

    .white-wrapper .col-xs-8 {
        padding-right: 50px;
    }

    .calendar {
        margin: 10px -6px;

        background-color: #135870;

        img {
            max-width: 100%;
            position: relative;
            top: 0;

            @media #{$sm} {
                left: 10%;
                max-width: 80%;
            }

            @media #{$md} {
                left: 15%;
                max-width: 70%;
            }
        }
    }

    .banner {
        text-align: justify;
    }
}

#regulations-wrapper {
    li {
        margin-top: 10px;
    }
}