#alerts
  - if flash[:notice] || content_for?(:notice)
    .alert.alert-success.alert-dismissable
      %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
        &times;
      = flash[:notice] || content_for(:notice)

  - if flash[:info] || content_for?(:info)
    .alert.alert-info.alert-dismissable
      %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
        &times;
      = flash[:info] || content_for(:info)

  - if flash[:alert] || content_for?(:alert)
    .alert.alert-warning.alert-dismissable
      %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
        &times;
      = flash[:alert] || content_for(:alert)

  - if flash[:danger] || content_for?(:danger)
    .alert.alert-danger.alert-dismissable
      %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
        &times;
      = flash[:danger] || content_for(:danger)