- if alerts?
  #alerts
    - current_alerts.each do |alert|
      .alert.alert-dismissable{ class: alert_class(alert) }
        %button.close{:type => 'close', 'data-dismiss' => 'alert', 'aria-hidden' => true}
          &times;
        = alert_message(alert)