#mail-us-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{type: 'button', class: "close", 'data-dismiss' => "modal", 'aria-hidden' => "true"} &times;
        .modal-title
          .two-tone-title.text-center
            %span Email
            %span Us
      .modal-body
        = form_tag contact_path, remote: true, class: 'form form-horizontal', id: 'contact-form' do
          .form-group
            .col-xs-12
              = text_area_tag :message, nil, id: 'mail-message', class: 'form-control', rows: 5, placeholder: 'Your message'
          .form-group
            .col-xs-12
              = text_field_tag :email, nil, id: 'mail-email', class: 'form-control', type: 'text', placeholder: 'Your email address'
          .form-group.btns
            .col-xs-12
              %button.btn.btn-flat.btn-secondary.pull-left{type: 'button', 'data-dismiss' => 'modal'} Cancel
              = button_tag 'Send', type: 'submit', id: 'send-mail', class: 'btn btn-flat pull-right'