#footer
  .row#social-media-footer
    .col-xs-12
      %a.btn.pull-right{ href: 'http://www.conbio.org', target: '_blank' }
        = image_tag 'scb-bird.svg', alt: 'SCB', height: '28px'
      %a.btn.pull-right{ href: 'http://www.scbtoronto.com', target: '_blank' }
        %i.fa.fa-home.fa-2x
      %a.btn.pull-right{ href: 'https://twitter.com/SCBToronto', target: '_blank' }
        %i.fa.fa-twitter.fa-2x
      %a.btn.pull-right{ href: 'https://www.facebook.com/pages/Toronto-Chapter-Society-for-Conservation-Biology/236337883092881', target: '_blank' }
        %i.fa.fa-facebook.fa-2x
  .row#info-footer
    %span &#169; 2014 Society for Conservation Biology - Toronto Chapter
    %a.pull-right{href: '#'} Terms of Use